<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,101}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{87,101}}</string>
                <key>sourceSize</key>
                <string>{93,111}</string>
            </dict>
            <key>a.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,186},{68,77}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{68,77}}</string>
                <key>sourceSize</key>
                <string>{68,111}</string>
            </dict>
            <key>dot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{36,31}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{36,31}}</string>
                <key>sourceSize</key>
                <string>{36,111}</string>
            </dict>
            <key>dot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{36,31}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{36,31}}</string>
                <key>sourceSize</key>
                <string>{36,111}</string>
            </dict>
            <key>dot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{36,31}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,77},{36,31}}</string>
                <key>sourceSize</key>
                <string>{36,111}</string>
            </dict>
            <key>e.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{64,77}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,30},{64,77}}</string>
                <key>sourceSize</key>
                <string>{66,111}</string>
            </dict>
            <key>s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{71,83}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{71,83}}</string>
                <key>sourceSize</key>
                <string>{71,111}</string>
            </dict>
            <key>u.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,105},{71,79}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pause.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6b9d530d3f7ef32245e55221e97e1da:0bb01d6bba13b03624b19c2ea4ca6f04:3faeda51949f13b46f1b4141c3557474$</string>
            <key>textureFileName</key>
            <string>Pause.png</string>
        </dict>
    </dict>
</plist>
