<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FaileEffect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{498,209}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,21},{498,209}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect10.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,375},{184,123}}</string>
                <key>offset</key>
                <string>{-27,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,49},{184,123}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect11.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,236},{196,137}}</string>
                <key>offset</key>
                <string>{-38,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,33},{196,137}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect12.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,213},{224,151}}</string>
                <key>offset</key>
                <string>{-42,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,16},{224,151}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{252,165}}</string>
                <key>offset</key>
                <string>{-46,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,0},{252,165}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect14.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,366},{144,91}}</string>
                <key>offset</key>
                <string>{-29,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,71},{144,91}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect15.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,505},{144,87}}</string>
                <key>offset</key>
                <string>{-29,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,75},{144,87}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{144,83}}</string>
                <key>offset</key>
                <string>{-29,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,79},{144,83}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect17.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,380},{144,79}}</string>
                <key>offset</key>
                <string>{-29,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,83},{144,79}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect18.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect19.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{408,175}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,38},{408,175}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect20.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect21.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect22.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect23.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect24.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect25.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect26.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect27.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect28.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect29.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,179},{320,139}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,57},{320,139}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect30.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect31.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect32.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect33.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect34.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect35.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect36.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect37.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect38.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect39.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{232,105}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,74},{232,105}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect40.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect41.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect42.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect43.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect44.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect45.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect46.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect47.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect48.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect49.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect5.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,320},{186,183}}</string>
                <key>offset</key>
                <string>{-26,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,0},{186,183}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect50.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect51.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{142,69}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{142,69}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect6.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,461},{144,161}}</string>
                <key>offset</key>
                <string>{-29,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,12},{144,161}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect7.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,320},{152,139}}</string>
                <key>offset</key>
                <string>{-27,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,26},{152,139}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect8.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,619},{162,127}}</string>
                <key>offset</key>
                <string>{-27,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,40},{162,127}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
            <key>FaileEffect9.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,500},{174,117}}</string>
                <key>offset</key>
                <string>{-27,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,52},{174,117}}</string>
                <key>sourceSize</key>
                <string>{632,247}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FaileEffect.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91108ccfe39dc595c52195874b8b74d4:2861fd6cb066dd12c11b692441db637a:3d01b8ed20444c672a15bd0e5965a3bc$</string>
            <key>textureFileName</key>
            <string>FaileEffect.png</string>
        </dict>
    </dict>
</plist>
