<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TimeOverEffect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{987,278}}</string>
                <key>offset</key>
                <string>{-38,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,27},{987,278}}</string>
                <key>sourceSize</key>
                <string>{1175,330}</string>
            </dict>
            <key>TimeOverEffect10.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,679},{287,82}}</string>
                <key>offset</key>
                <string>{-217,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,127},{287,82}}</string>
                <key>sourceSize</key>
                <string>{1175,330}</string>
            </dict>
            <key>TimeOverEffect11.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,681},{289,82}}</string>
                <key>offset</key>
                <string>{-218,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,127},{289,82}}</string>
                <key>sourceSize</key>
                <string>{1175,330}</string>
            </dict>
            <key>TimeOverEffect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{409,82}}</string>
                <key>offset</key>
                <string>{-214,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,129},{409,82}}</string>
                <key>sourceSize</key>
                <string>{1175,330}</string>
            </dict>
            <key>TimeOverEffect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,282},{399,78}}</string>
                <key>offset</key>
                <string>{-217,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,129},{399,78}}</string>
                <key>sourceSize</key>
                <string>{1175,330}</string>
            </dict>
            <key>TimeOverEffect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,282},{395,78}}</string>
                <key>offset</key>
                <string>{-220,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,129},{395,78}}</string>
                <key>sourceSize</key>
                <string>{1175,330}</string>
            </dict>
            <key>TimeOverEffect5.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,282},{387,78}}</string>
                <key>offset</key>
                <string>{-222,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,129},{387,78}}</string>
                <key>sourceSize</key>
                <string>{1175,330}</string>
            </dict>
            <key>TimeOverEffect6.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,282},{397,84}}</string>
                <key>offset</key>
                <string>{-224,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,125},{397,84}}</string>
                <key>sourceSize</key>
                <string>{1175,330}</string>
            </dict>
            <key>TimeOverEffect7.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,282},{367,82}}</string>
                <key>offset</key>
                <string>{-224,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,127},{367,82}}</string>
                <key>sourceSize</key>
                <string>{1175,330}</string>
            </dict>
            <key>TimeOverEffect8.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,683},{335,84}}</string>
                <key>offset</key>
                <string>{-223,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,125},{335,84}}</string>
                <key>sourceSize</key>
                <string>{1175,330}</string>
            </dict>
            <key>TimeOverEffect9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,693},{305,82}}</string>
                <key>offset</key>
                <string>{-223,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,127},{305,82}}</string>
                <key>sourceSize</key>
                <string>{1175,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TimeOverEffect.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9e4f2000aee04623942d88eb7ac108a:44b607ac98f378750cebf91cdb97a4cc:4b25f680a17e1155ce6f07752abe65b4$</string>
            <key>textureFileName</key>
            <string>TimeOverEffect.png</string>
        </dict>
    </dict>
</plist>
